


<p-toolbar>
    <ng-template pTemplate="center">
        <h2>{{this.userName}}'s  Cart</h2>
    </ng-template>
    <ng-template pTemplate="left">
        <button (click)="continue()" pButton icon="pi pi-shopping-cart" class=" mb-2 ">continue shopping</button>
    </ng-template>
    <ng-template pTemplate="right">
        <button (click)="payNow()" pButton icon="pi pi-dollar" class=" mb-2 ">Pay Now</button>
    </ng-template>
       
    </p-toolbar>
    <p-dataView #dv [value]="cart" [rows]="5" >
   
        <ng-template let-cart pTemplate="listItem">
            <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                    <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="'https://localhost:44342/photos/' + cart.present.image_Url" [alt]="cart.present.name" /> 
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="text-2xl font-bold text-900">{{ cart.present.name }}</div>
                        </div>
                        <div class="flex sm:flex-column align-items-center sm:align-items-center gap-3 sm:gap-2">  
                            Quantity: {{cart.quantity}}          
                        </div>
                        <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                            <span class="text-2xl font-semibold">{{ '$' + cart.present.price }}</span>
                        </div>
                        <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                            <p-button (click)="delete(cart)">Delete</p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    
   