
<div class="container">
    <div class="content-wrapper"> 
         <h2>Your Total Price Is: {{total}}</h2>
    <br>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">$</span>
        <input type="number" pInputText placeholder="Card number" />
    </div>
    <br>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">👤</span>
        <input type="text" pInputText placeholder="Card Holders Name" />
    </div>
    <br>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">📆</span>
        <input type="date" pInputText placeholder="Exp. Date" />
    </div>
    <br>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">??</span>
        <input type="number" pInputText placeholder="cvv" />
    </div>
    <br>
    <p-button (click)="createOrder()">pay</p-button>

</div>

</div>



    




