/* .ng-invalid{
    border-color: red;
    border-width: 2px;
}
table 
{
    table-layout:fixed;
    width:100%;
}
button{ 
    border-radius: 20%;
    border-color:rgb(113, 248, 60);
    background-color: rgb(33, 71, 17);
    border-width: 3px;;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
}
input,select{
    height: 25px;
    font-size: 15px;
    padding: 1px;
    text-align: center;
    border-radius: 0px;
}
option{
    height: 20px;
    padding: 1px;
    font-size: 15px;
} */
