
    #button{
       padding-left:60px;
       padding-right:60px;
      
    }

    #u{
        font-size:xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
   
